<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"
      [routerLink]="['/']">User Role API</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark"
       [routerLink]="['/users']"
       routerLinkActive="active">Users</a>
  </nav>
  <a *ngIf="loggedOut$ | async"
     class="btn btn-outline-primary"
     (click)="signIn()">Sign in</a>

  <a *ngIf="loggedIn$ | async"
     class="btn btn-outline-primary"
     (click)="signOut()">Log out</a>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
